@keyframes anim_1 {
  from {
    transform: translateX(0) translateY(0);
  }
  to {
    transform: translateX(30px) translateY(40px);
  }
}

.bubble {
  position: relative;
}

.bubble__1 {
  left: 117px;
  bottom: 580px;
  height: 35px;
  width: 35px;
  z-index: 49;
  animation: anim_1 6s linear 0s infinite alternate;
}

@keyframes anim_2 {
  from {
    transform: translateX(0) translateY(0) scale(1);
  }
  to {
    transform: translateX(40px) translateY(30px) scale(0.9);
  }
}

.bubble__2 {
  left: 115px;
  bottom: 512px;
  height: 68px;
  width: 68px;
  z-index: 51;
  animation: anim_2 5s linear 0s infinite alternate;
}

@keyframes anim_3 {
  from {
    transform: translateX(40px) translateY(40px);
  }
  to {
    transform: translateX(0) translateY(0);
  }
}

.pink__1 {
  left: 0;
  bottom: 697px;
  height: 33px;
  width: 33px;
  z-index: 49;
  animation: anim_3 5s linear 0s infinite alternate;
}

@keyframes anim_4 {
  from {
    transform: translateX(0) translateY(0) translateZ(0) scale(0.9);
  }
  to {
    transform: translateX(30px) translateY(30px) translateZ(30px) scale(1);
  }
}

.pink__2 {
  left: 127px;
  bottom: 630px;
  height: 105px;
  width: 105px;
  z-index: 49;
  animation: anim_4 5s linear 0s infinite alternate;
}

@keyframes anim_5 {
  from {
    transform: translateX(40px) translateY(40px);
  }
  to {
    transform: translateX(0) translateY(0);
  }
}

.bubble__3 {
  left: -60px;
  bottom: 293px;
  height: 30px;
  width: 30px;
  z-index: 50;
  animation: anim_5 5s linear 0s infinite alternate;
}

@keyframes anim_6 {
  from {
    transform: translateX(0) translateY(0) translateZ(0) scale(1.1);
  }
  to {
    transform: translateX(0) translateY(20px) translateZ(40px) scale(0.9);
  }
}

.pink__3 {
  left: -39px;
  bottom: 479px;
  height: 71px;
  width: 71px;
  z-index: 51;
  animation: anim_6 4s linear 0s infinite alternate;
}

@keyframes anim_7 {
  from {
    transform: translateX(20px) translateY(0);
  }
  to {
    transform: translateX(0) translateY(0);
  }
}

.bubble__4 {
  left: 165px;
  bottom: 181px;
  height: 64px;
  width: 64px;
  z-index: 49;
  animation: anim_7 5s linear 0s infinite alternate;
}

@keyframes anim_8 {
  from {
    transform: translateX(0) translateY(0) translateZ(0) scale(1);
  }
  to {
    transform: translateX(0) translateY(10px) translateZ(30px) scale(0.7);
  }
}

.bubble__5 {
  left: 130px;
  bottom: 130px;
  height: 55px;
  width: 130px;
  z-index: 62;
  animation: anim_8 4s linear 0s infinite alternate;
}
