.btn {
  height: 70px;
  width: 259px;
  background: rgb(255, 106, 159);
  border: none;
  border-radius: 65px;
  font-size: 20px;
  z-index: 48;
}

.link_1 {
  position: absolute;
  bottom: 220px;
  left: 617px;
}

.link_3 {
  position: absolute;
  bottom: 121px;
  left: 690px;
}

.btn__arrow {
  position: relative;
  top: 0;
  left: 15px;
  width: 44px;
  height: 44px;
  background-color: #000;
  border-radius: 50%;
  box-shadow: 1px 1.5px 2.5px 1px rgb(255, 254, 250, 50%),
    -1px -1px 1.5px 2.5px rgb(0, 0, 0, 40%);
}

.btn__arrow div {
  position: relative;
  top: 22px;
  width: 12px;
  height: 2px;
  background-color: #fff;
  left: 15.5px;
  display: block;
  z-index: 53;
}
.btn__arrow div::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 2px;
  top: -3px;
  right: -3.5px;
  background-color: #fff;
  transform: rotate(45deg);
  z-index: 45;
}
.btn__arrow div::before {
  content: "";
  position: absolute;
  width: 9px;
  height: 2px;
  top: 2.5px;
  right: -3.5px;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  transform: rotate(-45deg);
  z-index: 53;
}

#btn__text {
  position: absolute;
  display: block;
  right: 20px;
  bottom: 22px;
  font-size: 22px;
  letter-spacing: 2px;
  font-weight: 300;
  left: 70px;
}
