* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
  height: 100%;
}

.container {
  width: 100vw;
  scroll-behavior: smooth;
  overflow-x: scroll;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.container::-webkit-scrollbar {
  display: none;
}

.projects {
  display: flex;
  flex-direction: row;
  width: 300vw;
}
.projects::-webkit-scrollbar {
  display: none;
}

.project {
  display: inline-block;
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  padding-left: 66px;
}
.project::-webkit-scrollbar {
  width: 0px;
}

.project:nth-child(1) {
  background-image: url(./img/bg1.png);
}
.project:nth-child(2) {
  background-image: url(./img/bg2.png);
}
.project:nth-child(3) {
  background-image: url(./img/bg3.png);
}

.project__dark {
  display: inline-block;
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  padding-left: 66px;
  background-image: url(./img/bg3_dark.png);
}
.text {
  margin-top: 115px;
}

.text__hello {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 32px;
  display: block;
  padding-bottom: 10px;
}

.text__main {
  font-weight: 300;
  font-size: 100px;
  letter-spacing: 8px;
}

.text__not {
  font-weight: 800;
}

.text__priority {
  position: absolute;
  z-index: 2;
}

.img__sperm {
  position: absolute;
  bottom: 511px;
  left: 422px;
  height: 90px;
}

@keyframes anim_left {
  from {
    transform: translateX(0) translateY(0);
  }
  to {
    transform: translateX(50px) translateY(40px);
  }
}

.img__left {
  position: absolute;
  height: 63px;
  left: 28px;
  bottom: 190px;
  animation: anim_left 5s linear 0s infinite alternate;
}

@keyframes anim_bottom {
  from {
    transform: scale(1) translateY(0);
  }
  to {
    transform: scale(1.2) translateY(-9.3px);
  }
}

.img__bottom {
  position: absolute;
  width: 200px;
  bottom: 0px;
  right: 258px;
  animation: anim_bottom 3s ease-in infinite alternate;
}

@keyframes anim_right {
  from {
    transform: rotate(0deg) translateX(35px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(35px) rotate(-360deg);
  }
}

.img__right {
  position: absolute;
  height: 109px;
  right: 92px;
  top: 214px;
  animation: anim_right 10s linear infinite;
}

@keyframes anim_top {
  from {
    transform: translateX(0) translateY(0);
  }
  to {
    transform: translateX(50px) translateY(50px);
  }
}

.img__top {
  position: absolute;
  width: 62px;
  height: 57px;
  top: 60px;
  right: 249px;
  animation: anim_top 7s linear infinite alternate;
}

.onpoint {
  display: block;
  position: absolute;
  width: 57px;
  bottom: 16px;
  z-index: 100;
}
