* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
  height: 100vh;
}

.container {
  /*   height: 100vh; */
  /*   overflow-x: hidden; */
  width: 100vw;
  /*   //transform: rotate(-90deg) translateX(-100vh);
 // transform-origin: top left;
  //overflow-y: scroll;
  //overflow-x: hidden; */
  scroll-behavior: smooth;
  overflow-x: scroll;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.container::-webkit-scrollbar {
  display: none;
}

.projects {
  /*   white-space: nowrap;
  overflow: auto; */
  /*   scroll-behavior: smooth; */
  /*   scroll-snap-type: x mandatory; */
  /*   scroll-padding: 0px; */
  /*   height: 100vh; */
  display: flex;
  flex-direction: row;
  width: 300vw;
  /*   transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left; */
  /* -webkit-overflow-scrolling: touch; */
  /*   overflow: auto; */
  /*   white-space: nowrap; */
}
/* .projects::-webkit-scrollbar {
  display: none;
} */

.project {
  display: inline-block;
  width: 100vw;
  height: 100vh;
  /*  scroll-snap-align: start; */
  scroll-snap-type: x mandatory;
  background-position: center;
  background-size: cover;
  /*   overflow: hidden;
  box-sizing: border-box; */
}

.project:nth-child(1) {
  background-image: url(./img/bg1.png);
}
.project:nth-child(2) {
  background-image: url(./img/bg2.png);
}
.project:nth-child(3) {
  background-image: url(./img/bg3.png);
}

.text {
  margin-top: 136px;
  padding-left: 66px;
}

.text__hello {
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 32px;
  display: block;
  padding-bottom: 30px;
}

.text__main {
  font-weight: 400;
  font-size: 91px;
  letter-spacing: 15px;
}

.text__not {
  font-weight: 800;
}

.text__img {
  position: relative;
  bottom: 395px;
  left: 424px;
  height: 100px;
}
