@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Extrabold"), local("Gilroy-Extrabold"),
    url("./fonts/Gilroy-Extrabold/Gilroy-Extrabold.woff2") format("woff2"),
    url("./fonts/Gilroy-Extrabold/Gilroy-Extrabold.woff") format("woff"),
    url("./fonts/Gilroy-Extrabold/Gilroy-Extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Light"), local("Gilroy-Light"),
    url("./fonts/Gilroy-Light/Gilroy-Light.woff2") format("woff2"),
    url("./fonts/Gilroy-Light/Gilroy-Light.woff") format("woff"),
    url("./fonts/Gilroy-Light/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Regular"), local("Gilroy-Regular"),
    url("./fonts/Gilroy-Regular/Gilroy-Regular.woff2") format("woff2"),
    url("./fonts/Gilroy-Regular/Gilroy-Regular.woff") format("woff"),
    url("./fonts/Gilroy-Regular/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DIN Pro";
  src: local("DIN-Pro"), local("DIN Pro"), url("./fonts/DIN-Pro/din_pro.eot"),
    url("./fonts/DIN-Pro/din_pro.woff2") format("woff2"),
    url("./fonts/DIN-Pro/din_pro.woff") format("woff"),
    url("./fonts//DIN-Pro/din_pro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DIN Pro";
  src: local("DIN-Pro-Bold"), local("DIN Pro Bold"),
    url("./fonts/DIN-Pro-Bold/din_pro_bold.eot"),
    url("./fonts/DIN-Pro-Bold/din_pro_bold.woff2") format("woff2"),
    url("./fonts/DIN-Pro-Bold/din_pro_bold.woff") format("woff"),
    url("./fonts//DIN-Pro-Bold/din_pro_bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: Gilroy;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
